<!DOCTYPE html>
{% if lang == "pt" %}
<html lang="pt-br">
{% elif lang == "en" %}
<html lang="en-us">
{% elif lang == "cn" %}
<html lang="zh-cn">
{% elif lang == "fr" %}
<html lang="fr-fr">
{% elif lang == "de" %}
<html lang="de-de">
{% elif lang == "es" %}
<html lang="es-es">
{% endif %}

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S3YCTZ4SV5"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S3YCTZ4SV5');
    </script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
<title>{% block title %}{% endblock %} - Lucas Pinto</title>
</head>
<body style="
             background-image: url({{ url_for('static', filename='nasa.jpg') }});
             background-repeat: repeat;
             background-attachment: fixed;
             background-color: #777777;
             background-size: cover;
             ">
  <div class="nav">
      <!--The header block is here-->
    {% if lang == "pt" %}
    <a class="button" href="{{ url_for('home') }}">
    {% elif lang == "en" %}
    <a class="button" href="{{ url_for('home', lang='en') }}">
    {% elif lang == "cn" %}
    <a class="button" href="{{ url_for('home', lang='cn') }}">
    {% elif lang == "fr" %}
    <a class="button" href="{{ url_for('home', lang='fr') }}">
    {% elif lang == "de" %}
    <a class="button" href="{{ url_for('home', lang='de') }}">
    {% elif lang == "es" %}
    <a class="button" href="{{ url_for('home', lang='es') }}">
    {% endif %}
        <div class="flex-container">
            <div class="logo-part-i">LUCAS PINTO</div>
            <div class="logo-part-ii"><small>.dev.br</small></div>
        </div>
    </a>
    <div class="small-nav">
            {% if lang == "pt" %}
               <a class="button" href="{{ url_for('resume') }}">
            {% elif lang == "en" %}
               <a class="button" href="{{ url_for('resume', lang='en') }}">
            {% elif lang == "cn" %}
               <a class="button" href="{{ url_for('resume', lang='cn') }}">
            {% elif lang == "fr" %}
               <a class="button" href="{{ url_for('resume', lang='fr') }}">
            {% elif lang == "de" %}
               <a class="button" href="{{ url_for('resume', lang='de') }}">
            {% elif lang == "es" %}
               <a class="button" href="{{ url_for('resume', lang='es') }}">
            {% endif %}

              <div class="nav_item">
                {% if lang == "pt" %}
                curr&iacute;culo
                {% elif lang == "en" %}
                resume
                {% elif lang == "cn" %}
                简历
                {% elif lang == "fr" %}
                CV
                {% elif lang == "de" %}
                Lebenslauf
                {% elif lang == "es" %}
                curr&iacute;culum
                {% endif %}
                </div>
          </a>
            {% if lang == "pt" %}
            <a class="button" href="{{ url_for('jobs') }}">
            {% elif lang == "en" %}
            <a class="button" href="{{ url_for('jobs', lang='en') }}">
            {% elif lang == "cn" %}
            <a class="button" href="{{ url_for('jobs', lang='cn') }}">
            {% elif lang == "fr" %}
            <a class="button" href="{{ url_for('jobs', lang='fr') }}">
            {% elif lang == "de" %}
            <a class="button" href="{{ url_for('jobs', lang='de') }}">
            {% elif lang == "es" %}
            <a class="button" href="{{ url_for('jobs', lang='es') }}">
            {% endif %}
              <div class="nav_item">
                {% if lang == "pt" %}
                portf&oacute;lio
                {% elif lang == "en" %}
                portfolio
                {% elif lang == "cn" %}
                作品集
                {% elif lang == "fr" %}
                portfolio
                {% elif lang == "de" %}
                Portfolio
                {% elif lang == "es" %}
                portafolio
                {% endif %}
                </div>
          </a>
            {% if lang == "pt" %}
            <a class="button" href="{{ url_for('bio') }}">
            {% elif lang == "en" %}
            <a class="button" href="{{ url_for('bio', lang='en') }}">
            {% elif lang == "cn" %}
            <a class="button" href="{{ url_for('bio', lang='cn') }}">
            {% elif lang == "fr" %}
            <a class="button" href="{{ url_for('bio', lang='fr') }}">
            {% elif lang == "de" %}
            <a class="button" href="{{ url_for('bio', lang='de') }}">
            {% elif lang == "es" %}
            <a class="button" href="{{ url_for('bio', lang='es') }}">
            {% endif %}
              <div class="nav_item">
                {% if lang == "pt" %}
                sobre mim
                {% elif lang == "en" %}
                about me
                {% elif lang == "cn" %}
                关于我
                {% elif lang == "fr" %}
                à propos de moi
                {% elif lang == "de" %}
                über mich
                {% elif lang == "es" %}
                sobre mí
                {% endif %}
                </div>
          </a>
    </div>
          <!--The header block is here-->
  </div>
  <div class="outer">
    <div id="language_selection_box">
        <a href="{{ url_for(page) }}"><img class="flag" width="25px" src="{{ url_for('static', filename='br.svg') }}" alt="Brazilian Portuguese"></a>
        <div class="flag"></div>
        <a href="{{ url_for(page, lang='en') }}"><img class="flag" width="25px" src="{{ url_for('static', filename='us.svg') }}" alt="English"></a>
        <div class="flag"></div>
        <a href="{{ url_for(page, lang='cn') }}"><img class="flag" width="25px" src="{{ url_for('static', filename='cn.svg') }}" alt="Chinese"></a>
        <div class="flag"></div>
        <a href="{{ url_for(page, lang='es') }}"><img class="flag" width="25px" src="{{ url_for('static', filename='es.svg') }}" alt="Spanish"></a>
        <div class="flag"></div>
        <a href="{{ url_for(page, lang='fr') }}"><img class="flag" width="25px" src="{{ url_for('static', filename='fr.svg') }}" alt="French"></a>
        <div class="flag"></div>
        <a href="{{ url_for(page, lang='de') }}"><img class="flag" width="25px" src="{{ url_for('static', filename='de.svg') }}" alt="German"></a>
    </div>
    <div class="transbox">
		{% block body %}
		{% endblock%}
    </div><!-- transbox div closure -->	
    </div><!-- outer div closure -->	
    <div class="footer">
        </div>
        <div class="footer_div">
            <a class="normal" href="mailto:lucaspinto90@hotmail.com">
                <div class="contact-pad">
                    <p><b>
                        EMAIL
                    </B></P>
                    <P>
                        lucaspinto90@hotmail.com
                    </p>
                </div>
            </a>
            <a class="normal" href="https://wa.me/5561991214553" target="_blank">
                <div class="contact-pad">
                    <p><b>
                        WHATSAPP
                    </B></P>
                    <P>
                        +55 (61) 99121-4553
                    </p>
                </div>
            </a>
            <a class="normal" href="https://www.linkedin.com/in/lucaspinto90"
                target="_blank">
                <div class="contact-pad">
                    <p><b>
                        LINKED-IN
                    </B></P>
                    <P>
                        linkedin.com/in/lucaspinto90
                    </p>
                </div>
            </a>
            <a class="normal" href="https://www.github.com/UmbreLu" target="_blank">
                <div class="contact-pad">
                    <p><b>
                        GITHUB
                    </B></P>
                    <P>
                        github.com/UmbreLu
                    </p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
