<!DOCTYPE html>

<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
<title>{% block title %}{% endblock %} - Lucas' Personal Website</title>
</head>
<body style="
             background-image: url({{ url_for('static', filename='financial.jpg') }});
             background-repeat: no-repeat;
             background-attachment: fixed;
             background-color: #777777;
             background-size: cover;
             ">
  <div class="outer">
  <div class="transbox nav">
      <!--The header block is here-->
      <ul class="nav">
          <li>
              <a class="button" href="{{ url_for('greeting') }}">saudações</a>
          </li>
          <li>
              <a class="button" href="{{ url_for('home') }}">home</a>
          </li>
          <li>
              <a class="button" href="{{ url_for('bio') }}">bio</a>
          </li>
          <li>
              <a class="button" href="{{ url_for('contato') }}">contato</a>
          </li>
          <li>
              <a class="button" href="{{ url_for('jobs') }}">trabalhos</a>
          </li>
          <li>
              <a class="button" href="{{ url_for('resume') }}">curr&iacute;culo</a>
          </li>
      </ul>
          <!--The header block is here-->
  </div>
  <div class="transbox spread">
		{% block body %}
		{% endblock%}
  </div><!-- transbox div closure -->	
  </div><!-- outer div closure -->	
</body>
</html>
