{% extends 'base.html' %}

{% block title %}Bio{% endblock %}

{% block body %}
{% if lang == "pt" %}
<h1 class="title">Sobre Mim</h1>
<br>
<p>
Com primeira forma&ccedil;&atilde;o em Direito, aproveitei o <em>lockdown</em> da pandemia de Covid para come&ccedil;ar aprendendo o b&aacute;sico de programa&ccedil;&atilde;o.
</p>
<p>
Em 2022, tirei o <em>IBM Professional Certificate for Data Science</em> <a class="normal" href="https://www.youtube.com/watch?v=Ge_6oqt9QcY" target="_blanck">(sobre o certificado)</a>.
</p>
<p>
No mesmo ano, iniciei o curso de Ci&ecirc;ncia de Dados na Universidade Est&aacute;cio de S&aacute; &agrave;
dist&acirc;ncia, com a finalidade de complementar o curr&iacute;culo com algum grau de ensino acad&ecirc;mico formal.
</p>
<p>
No começo de 2023, fiz um freelancing para a empresa FinalEasy, que negocia créditos judiciais. Fui incumbido de minerar dados sobre ativos judiciais na internet por meio de web scraping.
</p>
<p>
De fevereiro a junho, trabalhei para incrementar meu portifólio, iniciando meu projeto sobre dados imobiliários (veja no meu portfólio).
<p>
De julho a setembro, fiz um freelance como Analista de BI assistente a Agência de Comunicação e Publicidade Calia Y2, apesar de ter sido uma passagem breve, a experiência que adquiri foi enorme. Tive contato com o trabalho com dados desempenhado no ramo da publicidade, desde como os dados são disponibilizados e estruturados pelas plataformas online até como retratá-los por meio de dashboards e story telling. Sendo a única pessoa do time que sabia programar, tive a oportunidade de automatizar várias tarefas, aumentando a eficiência do time e tornando-o mais apto a entregar demandas de última hora.
</p>
<p>
Se voc&ecirc; tamb&eacute;m est&aacute; no come&ccedil;o de uma nova jornada e tem curiosidade pela &aacute;rea, que tal
trocarmos conhecimentos e <em>insights</em> sobre a carreira?
</p>
<p>
<strong>Muito obrigado</strong> por sua visita.
</p>
{% elif lang == "en" %}
<h1 class="title">About Me</h1>
<br>
<p>
Having a background in Law, I seized the opportunity presented by the Covid lockdown to embark on learning the fundamentals of programming.
</p>
<p>
In 2022, I successfully obtained the <em>IBM Professional Certificate for Data Science</em> <a class="normal" href="https://www.youtube.com/watch?v=Ge_6oqt9QcY" target="_blanck">(regarding the certificate).</a>
</p>
<p>
During that same year, I enrolled in a Data Science course at Estácio de Sá University through distance learning, aiming to augment my resume with formal academic credentials.
</p>
<p>
In early 2023, I freelanced for the company FinalEasy, which deals with judicial credits. I was tasked with data mining on judicial assets on the internet through web scraping.
</p>
<p>
From February to June, I worked on enhancing my portfolio, starting my project on real estate data (check it out in my portfolio).
</p>
<p>
From July to September, I freelanced as an Assistant BI Analyst at the Communication and Advertising Agency Calia Y2, although it was a brief stint, the experience I gained was immense. I had exposure to working with data in the advertising industry, from how data is made available and structured on online platforms to how it's presented through dashboards and storytelling. Being the only person on the team who knew how to program, I had the opportunity to automate various tasks, increasing the team's efficiency and making them better equipped to handle last-minute demands.
</p>
<p>
If you, too, are at the outset of a new journey and harbor a keen interest in this field, why not engage in a mutually beneficial exchange of knowledge and insights about the career?
</p>
<p>
Thank you sincerely for your visit.
</p>
{% endif %}
{% endblock %}
