{% extends 'base.html' %}

{% block title %}Bio{% endblock %}

{% block body %}
<h1 class="title">Sobre Mim</h1>
<figure>
  <img src="{{url_for('static', filename='my_photo.jpeg')}}" alt="foto de Lucas" class="profile">
</figure>
<br>
<p>
Bacharel em Direito pela Universidade de Bras&iacute;lia e advogado, decidi mergular na &aacute;rea de Dados e atualmente fa&ccedil;o um curso tecnol&oacute;gico em Ci&ecirc;ncia de Dados pela Universidade Est&aacute;cio de S&aacute;.
</p>
<p>
Durante o <em>lockdown</em> de 2020, decretado em virtude à pandemia de Covid-19, aproveitei meu tempo para estudar algo diferente e, em pouco mesmo de um mês, j&aacute; era capaz de programar na Linguagem Python, mesmo tendo forma&ccedil;&atilde;o em uma &aacute;rea do conhecimento completamente diferente. Naquele momento, j&aacute; estava utilizando conceitos avan&ccedil;ados, como programa&ccedil;&atilde;o orientada a objetos e programa&ccedil;&atilde;o funcional, conseguindo, por exemplo, solucionar problemas cl&aacute;ssicos de recurs&atilde;o, como a Torre de Hanoi, por conta pr&oacute;pria.
</p>
<p>
Junto com a paix&atilde;o pelas Ci&ecirc;ncias Exatas que tenho desde o Ensino M&eacute;dio, descobri que havia alguma viabilidade para mudar de &aacute;rea, mas, sendo tempos dif&iacute;ceis e incertos, somente tive coragem de realizar a mudan&ccedil;a em 2022.
</p>
<p>
Com o suporte de grandes amigos, elaborei o plano de me matricular em um curso de n&iacute;vel superior na &aacute;rea, come&ccedil;ando no segundo semestre do ano, e, ao mesmo tempo, fazer o curso da IBM para obter uma das certifica&ccedil;&otilde;es <em>job ready</em> mais reconhecidas em Ci&ecirc;ncia de Dados, o <em>IBM Professional Certificate for Data Science</em>, que conclu&iacute; em setembro de 2022 com aprova&ccedil;&atilde;o total.
</p>
<p>
A sess&atilde;o "curr&iacute;culo" apresenta <em>links</em> para acessar a p&aacute;gina web da certific&atilde;o e a sua emiss&atilde;o.
</p>
<p>
Esse 
<a href="https://www.youtube.com/watch?v=Ge_6oqt9QcY" target="_blanck">
v&iacute;deo</a>
explica de maneira bastante completa como funciona essa certifica&ccedil;&atilde;o.
</p>
<img src="{{ url_for('static', filename='inspiration.jpg') }}" alt="inspira&ccedil;&atilde;o" class="mid_text">
{% endblock %}
