{% extends 'base.html' %}

{% block title %}Bio{% endblock %}

{% block body %}
<h1 class="title">Sobre Mim</h1>
<br>
<p>
Formado pela Faculdade de Direito da UnB, tendo exercido cargo de
assessor de magistrado e atuado na advocacia particular, decidi experimentar a &aacute;rea de Ci&ecirc;ncia de Dados.
Aproveitei o <em>lockdown</em> da pandemia de Covid para come&ccedil;ar por aprender o b&aacute;sico de programa&ccedil;&atilde;o.
</p>
<p>
Em 2022, tirei o <em>IBM Professional Certificate for Data Science</em> <a class="normal" href="https://www.youtube.com/watch?v=Ge_6oqt9QcY" target="_blanck">(sobre o certificado)</a>.
</p>
<p>
Ainda no mesmo ano, iniciei o curso de Ci&ecirc;ncia de Dados na Universidade Est&aacute;cio de S&aacute; &agrave;
dist&acirc;ncia, com a finalidade de complementar a forma&ccedil;&atilde;o com algum grau de ensino acad&ecirc;mico.
</p>
<p>
Atualmente sigo desenvolvendo projetos pessoais para enriquecer meu portf&oacute;lio enquanto busco uma sonhada primeira
coloca&ccedil;&atilde;o no mercado como profissional de dados.
</p>
<p>
Se voc&ecirc; tamb&eacute;m est&aacute; no come&ccedil;o de uma nova jornada e tem curiosidade pela &aacute;rea, que tal
trocarmos conhecimentos e <em>insights</em> sobre a carreira?
</p>
<p>
<strong>Muito obrigado</strong> por sua visita.
</p>
{% endblock %}
