{% extends 'base.html' %}

{% block title %}
Contato
{% endblock %}

{% block body %}
<h1 class="title">Contato</h1>
<br>
<p>
Encontre-me nas redes sociais:
</p>
<ul>
    <li>
        <strong>
            <a href="https://www.linkedin.com/in/lucas-pinto-b77b81172/" target="_blanck">
                LinkedIn
            </a>
        </strong>
    </li>
    <li>
        <strong>
            <a href="https://github.com/UmbreLu" target="_blanck">
                Github
            </a>
        </strong>
    </li>
    <li>
        <strong>
            <a href="https://www.credly.com/users/lucas-pinto.58bbda0a/badges" target="_blanck">
                Credly
            </a>
        </strong>
    </li>
</ul>
<p>
Ou, se preferir, contate-me via email no endereço <em><big>lucaspinto90@hotmail.com</big></em>.
</p>
{% endblock %}
