{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<br>
<br>
<div>
    <div class="over_back_img">
    <h1><strong>Analista e Cientista de Dados em forma&ccedil;&atilde;o.</strong></h1>
    </div>
</div>
    <br>
    <div class="over_back_img">
        <p class="big_text">
            &#9989; Certifica&ccedil;&atilde;o IBM <i>job ready</i> em Ci&ecirc;ncia de Dados
        </p>
    </div>
    <br>
    <div class="over_back_img">
        <p class="big_text">
            &#9989; Dom&iacute;nio da linguagem Python
        </p>
    </div>
    <br>
    <div class="over_back_img">
        <p class="big_text">
            &#9989; Freelancer na cria&ccedil;&atilde;o de crawlers para extra&ccedil;&atilde;o de dados da Web
        </p>
    </div>
    <br>
    <div class="over_back_img">
        <p class="big_text">
            &#9989; Conhecimentos jur&iacute;dicos:<br><br>Marco Civil da Internet e a Lei Geral de Prote&ccedil;&atilde;o de Dados
        </p>
    </div>
        <br>
        <br>
    </div>
<br>
<br>
<!--
<br>
<br>
<br>
<h2 style="text-align: center">Fique informado:</h2>
<div class="flex-container">
    <div class="twitter-wrapper">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Data Science Applications in Banking <a href="https://twitter.com/hashtag/Banking?src=hash&amp;ref_src=twsrc%5Etfw">#Banking</a> via <a href="https://t.co/bDTgBUIWtG">https://t.co/bDTgBUIWtG</a> <a href="https://t.co/AkCCF3MRgB">https://t.co/AkCCF3MRgB</a></p>&mdash; Sajid Mirza (@sajidmirza) <a href="https://twitter.com/sajidmirza/status/1610327424721354754?ref_src=twsrc%5Etfw">January 3, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

    </div>
</div>
-->
{% endblock %}
