{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<br>
<br>
    <div style="max-width: 500px; margin: auto;">
        <h2 style="text-align: left;"><strong>Ci&ecirc;ncia de Dados</strong></h2>
        <br>
        <h2 style="text-align: center;"><strong>- & -</strong></h2>
        <br>
        <h2 style="text-align: right;"><strong>Desenvolvimento Python</strong></h2>
    </div>
<br>
<br>
<img src="{{url_for('static', filename='prof2.jpeg')}}" alt="main profile picture" class="mid_text_2">
    <br>
        <div class="badge_div">
            <div class="badge">
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="dd0b42b7-f863-4e36-9479-9f4412c357bd" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
            </div>
            <div class="badge">
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1ca7971d-6ceb-431a-b5a3-8f6c681022ee" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
            </div>
            <div class="badge">
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="a985918a-fb7d-4fd6-9835-047cda569b0a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
            </div>
            </div>
            <div>
            &#9989; Certifica&ccedil;&atilde;o IBM <i>job ready</i> em Ci&ecirc;ncia de Dados
    <br>
    <br>
            &#9989; Business Intelligence
    <br>
    <br>
            &#9989; Modela&ccedil;&atilde;o, minera&ccedil;&atilde;o,<br>explora&ccedil;&atilde;o, tratamento e an&aacute;lise de dados
    <br>
    <br>
            &#9989; Gr&aacute;ficos e Dashboards
    <br>
    <br>
            &#9989; Machine Learning
    <br>
    <br>
            &#9989; Conhecimento jur&iacute;dico:<br>Marco Civil da Internet e a Lei Geral de Prote&ccedil;&atilde;o de Dados
        <br>
        <br>
    </div>
    </div>
<!--
<br>
<br>
<br>
<h2 style="text-align: center">Fique informado:</h2>
<div class="flex-container">
    <div class="twitter-wrapper">

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Data Science Applications in Banking <a href="https://twitter.com/hashtag/Banking?src=hash&amp;ref_src=twsrc%5Etfw">#Banking</a> via <a href="https://t.co/bDTgBUIWtG">https://t.co/bDTgBUIWtG</a> <a href="https://t.co/AkCCF3MRgB">https://t.co/AkCCF3MRgB</a></p>&mdash; Sajid Mirza (@sajidmirza) <a href="https://twitter.com/sajidmirza/status/1610327424721354754?ref_src=twsrc%5Etfw">January 3, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

    </div>
</div>
-->
{% endblock %}
