{% extends 'base.html' %}

{% block title %}
Portfolio
{% endblock %}

{% block body %}
<h1 class="title">
    Trabalhos
</h1>
<br>
<p>
Todos os meus trabalhos relacionados a programação e Ci&ecirc;ncia de Dados possuem reposit&oacute;rios em meu perfil do Github (veja na sessão "Contato"). Entretanto, listo aqui alguns dos que considero mais relevantes e que são mais representativos do meu atual estado de evolu&ccedil;&atilde;o e desenvolvimento nessas &aacute;reas.
</p>
<ul>
    <li>
        <p>
        <a href="https://github.com/UmbreLu/Consumo-de-gasolina-2021/blob/main/exploratory_analysis.ipynb" target="_blanck">Análise explorat&oacute;ria</a> de dados divulgados sobre o consumo de gasolina no Brasil
        </p>
    </li>
    <li>
        <p>
        Pequeno <a href="https://github.com/UmbreLu/requests_friendly_site_tester" target="_blanck"><em>script</em> Python</a> que testa o comportamento de URLs quando requisitadas no protocolo HTTP pela biblioteca Requests
        </p>
    </li>
    <li>
        <p>
        <strong>Este site!</strong> Eu o desenvolvi utilizando apenas Python, Flask, HTML e CS.
        </p>
    </li>
</ul>
{% endblock %}
