{% extends 'base.html' %}

{% block title %}Estimador de Pre&ccedil;os{% endblock %}

{% block style %}
<style>
    p.prediction {
        text-align: center;
        font-size: 1.5em;
    }
    form {
        display: flex;
        flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
    }

    label {
      display: block;
      margin-top: 10px;
    }

    select, input[type="submit"] {
      padding: 10px;
      border: none;
      margin-top: 5px;
        font-size: 1.2em;
    }

    input[type="number"] {
      padding: 10px;
      border: none;
      margin-top: 5px;
        font-size: 1.2em;
    }

    input[type="submit"] {
        background-color: #444444;
        color: white;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #45a049;
    }

    .warning {
      color: #ff0000;
      font-weight: bold;
      margin-top: 10px;
    }
  </style>
{% endblock %}

{% block body %}
{% if lang == "pt" %}
<h1 class="title">Estimativa de Pre&ccedil;o para Im&oacute;vel no DF</h1>
<br>
<p>
Gostaria de ter uma ideia de qual seria o valor apropriado para anunciar seu im&oacute;vel no DF sem pagar caro a um corretor experiente ou a uma grande imobili&aacute;ria? Seus problemas acabaram!
</p>
<p>
O meu estimador de pre&ccedil;os &eacute; uma intelig&ecirc;ncia artificial que foi treinada em cima de milhares de publica&ccedil;&otilde;es de an&uacute;ncios de im&oacute;veis no Distrito Federal e, assim, &eacute; capaz de estimar, com certa precis&atilde;o, o valor com que seu im&oacute;vel poderia ser anunciado.
</p>
<p>
Aproveite enquanto a ferramenta est&aacute; disponibilizada aqui gratuitamente.
</p>
  <br>
{% if prediction is defined %}
    <div style="
    background-color: rgb(48, 48, 48); 
    color: darkgrey;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    ">
    <p>Im&oacute;vel do tipo {{ query["categoria"] }} localizado em {{ query["localizacao"] }} com {{ query["area-util"] }} m<sup>2</sup> de &aacute;rea &uacute;til, {{ query["area-total"] }} m<sup>2</sup> de &aacute;rea total, {{ query["quantidade-quartos"] }} quarto(s), {{ query["quantidade-banheiros"] }} banheiro(s) e {{ query["quantidade-vagas"] }} vaga(s) de garagem privativa:
    <p class="prediction"><strong>Avalia&ccedil;&atilde;o {{ prediction }} .</strong></p>
    </div>
{% endif %}
{% if unsuccessful is defined %}
    <p class="warning">O serviço de estimativa parece estar offline. Tente novamente mais tarde.</p>
{% endif %}
{% endif %}
{% if lang == "en" %}
<h1 class="title">
Price Estimate for Property in the Federal District - Brazil
</h1>
<br>
<p>
Would you like to have an idea of what would be the appropriate value to advertise your property in the Federal District without paying a high price to an experienced real estate agent or a large real estate company? Your problems are over!
</p>
<p>
My price estimator is an artificial intelligence that has been trained on thousands of property advertisement listings in the Federal District and, therefore, is capable of estimating, with some accuracy, the value at which your property could be advertised.
</p>
<p>
Take advantage while the tool is available here for free.
</p>
  <br>
{% if prediction is defined %}
    <div style="
    background-color: rgb(48, 48, 48); 
    color: darkgrey;
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    ">
    <p>
    Property of type {{ query["categoria"] }} located in {{ query["localizacao"] }} with {{ query["area-util"] }} m<sup>2</sup> of usable area, {{ query["area-total"] }} m<sup>2</sup> of total area, {{ query["quantidade-quartos"] }} bedroom(s), {{ query["quantidade-banheiros"] }} bathroom(s), and {{ query["quantidade-vagas"] }} private parking space(s).
    </p>
    <p class="prediction"><strong>
    Evaluation: {{ prediction }}.
    </strong></p>
    </div>
{% endif %}
{% if unsuccessful is defined %}
    <p class="warning">The estimation service appears to be offline. Please try again later.</p>
{% endif %}
{% endif %}
{% if lang == "fr" %}
<h1 class="title">Estimation de prix pour une propriété dans le district fédéral - Brazil</h1>
<br>
<p>
Vous aimeriez avoir une idée de la valeur appropriée pour annoncer votre propriété dans le district fédéral sans payer cher à un agent immobilier expérimenté ou à une grande agence immobilière ? Vos problèmes sont résolus !
</p>
<p>
Mon estimateur de prix est une intelligence artificielle qui a été entraînée sur des milliers d'annonces immobilières dans le district fédéral et est donc capable d'estimer avec une certaine précision la valeur à laquelle votre propriété pourrait être annoncée.
</p>
<p>
Profitez-en pendant que l'outil est disponible gratuitement ici.
</p>
<br>
{% if prediction is defined %}
<div style="
background-color: rgb(48, 48, 48); 
color: darkgrey;
border: 2px solid black;
margin: 10px;
padding: 20px;
 ">
<p>Propriété de type {{ query["categoria"] }} située à {{ query["localizacao"] }} avec {{ query["area-util"] }} m<sup>2</sup> de surface utilisable, {{ query["area-total"] }} m<sup>2</sup> de surface totale, {{ query["quantidade-quartos"] }} chambre(s), {{ query["quantidade-banheiros"] }} salle(s) de bains et {{ query["quantidade-vagas"] }} place(s) de parking privées :
<p class="prediction"><strong>Évaluation : {{ prediction }}.</strong></p>
</div>
{% endif %}
{% if unsuccessful is defined %}
<p class="warning">Le service d'estimation semble être hors ligne. Veuillez réessayer ultérieurement.</p>
{% endif %}
{% endif %}
{% if lang == "es" %}
<h1 class="title">Estimación de precio para una propiedad en el Distrito Federal - Brazil</h1>
<br>
<p>
¿Le gustaría tener una idea del valor apropiado para anunciar su propiedad en el Distrito Federal sin pagar mucho a un agente inmobiliario experimentado o a una gran inmobiliaria? ¡Sus problemas han terminado!
</p>
<p>
Mi estimador de precios es una inteligencia artificial que ha sido entrenada con miles de publicaciones de anuncios de propiedades en el Distrito Federal y, por lo tanto, es capaz de estimar, con cierta precisión, el valor al que su propiedad podría ser anunciada.
</p>
<p>
Aproveche mientras la herramienta esté disponible de forma gratuita aquí.
</p>
<br>
{% if prediction is defined %}
<div style="
background-color: rgb(48, 48, 48);
color: darkgrey;
border: 2px solid black;
margin: 10px;
padding: 20px;
 ">
<p>Propiedad de tipo {{ query["categoria"] }} ubicada en {{ query["localizacao"] }} con {{ query["area-util"] }} m<sup>2</sup> de área útil, {{ query["area-total"] }} m<sup>2</sup> de área total, {{ query["quantidade-quartos"] }} habitacione(s), {{ query["quantidade-banheiros"] }} baño(s) y {{ query["quantidade-vagas"] }} plaza(s) de aparcamiento privadas:
<p class="prediction"><strong>Evaluación: {{ prediction }}.</strong></p>
</div>
{% endif %}
{% if unsuccessful is defined %}
<p class="warning">El servicio de estimación parece estar fuera de línea. Por favor, inténtelo nuevamente más tarde.</p>
{% endif %}
{% endif %}
{% if lang == "de" %}
<h1 class="title">Preisschätzung für Immobilien im Bundesdistrikt - Brazil</h1>
<br>
<p>
Möchten Sie eine Vorstellung davon haben, welcher angemessene Wert wäre, um Ihre Immobilie im Bundesdistrikt zu bewerben, ohne einem erfahrenen Makler oder einem großen Immobilienunternehmen viel Geld zu zahlen? Ihre Probleme sind gelöst!
</p>
<p>
Mein Preisermittler ist eine künstliche Intelligenz, die auf Tausenden von Immobilienanzeigen im Bundesdistrikt trainiert wurde und daher in der Lage ist, den Wert zu schätzen, zu dem Ihre Immobilie mit einiger Genauigkeit beworben werden könnte.
</p>
<p>
Nutzen Sie die Gelegenheit, solange das Tool hier kostenlos verfügbar ist.
</p>
<br>
{% if prediction is defined %}
<div style="
background-color: rgb(48, 48, 48);
color: darkgrey;
border: 2px solid black;
margin: 10px;
padding: 20px;
 ">
<p>Immobilie vom Typ {{ query["categoria"] }} in {{ query["localizacao"] }} mit einer Nutzfläche von {{ query["area-util"] }} m<sup>2</sup>, einer Gesamtfläche von {{ query["area-total"] }} m<sup>2</sup>, {{ query["quantidade-quartos"] }} Schlafzimmern, {{ query["quantidade-banheiros"] }} Badezimmern und {{ query["quantidade-vagas"] }} privaten Parkplätzen:
<p class="prediction"><strong>Bewertung: {{ prediction }}.</strong></p>
</div>
{% endif %}
{% if unsuccessful is defined %}
<p class="warning">Der Schätzdienst scheint offline zu sein. Bitte versuchen Sie es später erneut.</p>
{% endif %}
{% endif %}
{% if lang == "cn" %}
<h1 class="title">首都区房地产价格估算 - Brazil</h1>
<br>
<p>
您想知道在不付给经验丰富的房地产经纪人或大型房地产公司高价的情况下，如何合理定价您在首都区的房地产？您的问题已经解决！
</p>
<p>
我的价格估算器是一种基于首都区数千条房地产广告列表进行训练的人工智能，因此能够相对准确地估算出您的房地产可以以什么价格进行广告宣传。
</p>
<p>
趁着这个工具在这里免费提供的机会，请好好利用。
</p>
<br>
{% if prediction is defined %}
<div style="
background-color: rgb(48, 48, 48);
color: darkgrey;
border: 2px solid black;
margin: 10px;
padding: 20px;
 ">
<p>房地产类型为{{ query["categoria"] }}，位于{{ query["localizacao"] }}
，使用面积为{{ query["area-util"] }}<sup>2</sup>，总面积为{{ query["area-total"] }}<sup>2</sup>，{{ query["quantidade-quartos"] }}个卧室，{{ query["quantidade-banheiros"] }}个浴室和{{ query["quantidade-vagas"] }}个私人停车位：
<p class="prediction"><strong>评估：{{ prediction }}。</strong></p>
</div>
{% endif %}
{% if unsuccessful is defined %}
<p class="warning">估算服务似乎已离线。请稍后重试。</p>
{% endif %}
{% endif %}





<br>
<form action="{{ url_for('real_estate_post') }} " method="post">
    <label for="categoria">Categoria do imóvel:</label>
    <select id="categoria" name="categoria" {% if prediction is defined %}value="{{ query["categoria"] }}"{% endif %}>

      <option value="apartamento">Apartamento</option>
      <option value="casa">Casa</option>
      <option value="terreno">Terreno</option>
      <option value="comercial">Comercial</option>
    </select>
    <label for="localizacao">Localização:</label>
    <select id="localizacao" name="localizacao" {% if prediction is defined %}value="{{ query["localizacao"] }}"{% endif %}>

      <option value="Asa Sul">Asa Sul</option>
      <option value="Asa Norte">Asa Norte</option>
      <option value="Lago Sul">Lago Sul</option>
      <option value="Noroeste">Noroeste</option>
        <option value="Lago Norte">Lago Norte</option>
        <option value="Octogonal">Octogonal</option>
        <option value="Taguatinga">Taguatinga</option>
        <option value="Guará">Guará</option>
        <option value="Sudoeste">Sudoeste</option>
        <option value="Park Way">Park Way</option>
        <option value="Sobradinho">Sobradinho</option>
        <option value="Cruzeiro">Cruzeiro</option>
        <option value="Jardim Botânico">Jardim Botânico</option>
        <option value="Águas Claras">Águas Claras</option>
        <option value="Ceilandia">Ceilandia</option>
        <option value="Vila Planalto">Vila Planalto</option>
        <option value="Setor Habitacional Tororo">Setor Habitacional Tororo</option>
        <option value="Setor de Mansões Dom Bosco">Setor de Mansões Dom Bosco</option>
        <option value="Granja Do Torto, Brasília">Granja Do Torto, Brasília</option>
        <option value="Vila Da Telebrasilia">Vila Da Telebrasilia</option>
        <option value="Zona Central de Brasília">Zona Central de Brasília</option>
        <option value="Park Sul">Park Sul</option>
        <option value="Setor de Habitações Coletivas Norte">Setor de Habitações Coletivas Norte</option>
        <option value="Setor de Armazenagem e Abastecimento Norte">Setor de Armazenagem e Abastecimento Norte</option>
        <option value="Centro de Atividades do Lago Norte">Centro de Atividades do Lago Norte</option>
        <option value="Taquari">Taquari</option>
        <option value="Jardins Mangueiral">Jardins Mangueiral</option>
        <option value="Quadra Mista Sudoeste">Quadra Mista Sudoeste</option>
        <option value="Setor De Autarquias Sul">Setor De Autarquias Sul</option>
        <option value="Samambaia">Samambaia</option>
        <option value="Mansões do Lago">Mansões do Lago</option>
        <option value="Setor De Clubes Esportivos Sul, Brasília">Setor De Clubes Esportivos Sul, Brasília</option>
        <option value="Guará">Guará</option>
        <option value="Paranoá">Paranoá</option>
        <option value="SIG - Setor De Industria Graficas">SIG - Setor De Industria Graficas</option>
        <option value="Planaltina">Planaltina</option>
        <option value="Recanto das Emas">Recanto das Emas</option>
        <option value="Candangolândia">Candangolândia</option>
        <option value="Noroeste">Noroeste</option>
        <option value="Zona Rural">Zona Rural</option>
        <option value="Setor Militar Urbano">Setor Militar Urbano</option>
        <option value="Itapoã">Itapoã</option>
        <option value="Zona Industrial">Zona Industrial</option>
        <option value="Arniqueiras, Águas Claras">Arniqueiras, Águas Claras</option>
        <option value="Areal, Águas Claras">Areal, Águas Claras</option>
        <option value="Zona Rural, Águas Claras">Zona Rural, Águas Claras</option>
    </select>

    <label for="area-util">Área útil (m<sup>2</sup>):</label>
    <input type="number" id="area-util" name="area-util" required
{% if prediction is defined %}
value="{{ query["area-util"] }}"
{% endif %}
        >

    <label for="area-total">Área total (m<sup>2</sup>):</label>
    <input type="number" id="area-total" name="area-total" required
{% if prediction is defined %}
value="{{ query["area-total"] }}"
{% endif %}
>

    <label for="quantidade-quartos">Quantidade de quartos:</label>
    <input type="number" id="quantidade-quartos" name="quantidade-quartos" required
{% if prediction is defined %}
value="{{ query["quantidade-quartos"] }}"
{% endif %}
>

    <label for="quantidade-banheiros">Quantidade de banheiros:</label>
    <input type="number" id="quantidade-banheiros" name="quantidade-banheiros" required
{% if prediction is defined %}
value="{{ query["quantidade-banheiros"] }}"
{% endif %}
>

    <label for="quantidade-vagas">Quantidade de vagas de garagem privativas:</label>
    <input type="number" id="quantidade-vagas" name="quantidade-vagas" required
{% if prediction is defined %}
value="{{ query["quantidade-vagas"] }}"
{% endif %}
>

{% if lang == "pt" %}
<input type="hidden" name="lang" value="pt">
{% elif lang == "en" %}
<input type="hidden" name="lang" value="en">
{% elif lang == "cn" %}
<input type="hidden" name="lang" value="cn">
{% elif lang == "es" %}
<input type="hidden" name="lang" value="es">
{% elif lang == "fr" %}
<input type="hidden" name="lang" value="fr">
{% elif lang == "de" %}
<input type="hidden" name="lang" value="de">
{% endif %}

    <input type="submit" value="Enviar">

    <p class="warning">Todos os campos devem ser preenchidos.</p>
  </form>
{% endblock %}
