{% extends 'base.html' %}

{% block title %}
Curr&iacute;culo
{% endblock %}

{% block body %}
<h1 class="title">Curr&iacute;culo</h1>
<br>
<h2>Forma&ccedil;&atilde;o</h2>
<p>
Cursando Ci&ecirc;ncia de Dados a n&iacute;vel de tecn&oacute;logo pela Universidade Est&aacute;cio de S&aacute; (EAD - in&iacute;cio em agosto de 2202)
</p>
<p>
Bacharel em Direito pela Universidade de Brasília - UnB (conclus&atilde;o em 2017)
</p>
<br>
<h2>Certifica&ccedil;&atilde;o e Curso</h2>
<p>
<a href="https://www.coursera.org/professional-certificates/ibm-data-science">IBM Data Science Professional Certificate</a>
</p>
<p>
<a href="https://www.credly.com/badges/396ea50c-535a-4260-bfaa-7add240ca1cc/public_url">Conferir emissão do certificado.</a>
</p>
<br>
<h2>Experi&ecirc;ncia Profissional</h2>
<ul>
<li>
Freelance em web scrapping para coleta de dados judicial públicos e freelance em scripting (Bash e Python) para automatização de tarefas administrativas repetitivas.</li>
<li>
Assessor de magistrado de primeira inst&acirc;ncia da justi&ccedil;a comum brasileira, realizando elabora&ccedil;&atilde;o de minutas de senten&ccedil;as c&iacute;veis, criminais e previdenci&aacute;rias e reda&ccedil;&atilde;o de decis&otilde;es judiciais em diversos ramos do Direito Brasileiro.
</li>
<li>
Na advocacia, já atuei em processos do contensioso c&iacute;vel (repara&ccedil;&atilde;o civil, Direito do Consumidor, a&ccedil;&otilde;es de cobran&ccedil;a e execu&ccedil;&atilde;o civil.
</li>
</ul>
<br>
<h2>L&iacute;ngua</h2>
<p>
Ingl&ecirc;s avan&ccedil;ado. Certificado: Oxford International Study Centre - English and Law Programme (2012).
</p>
<br>
<h2>Ferramentas de TI e Dados</h2>
<div class="flex-container">
    <div class="changing">
<p>
<strong>N&iacute;vel intermedi&aacute;rio em:</strong>
</p>
<ul>
    <li>
        Linguagem Python
    </li>
    <li>
        Pandas
    </li>
    <li>
        Flask
    </li>
    <li>
        Tkinter
    </li>
    <li>
        Requests
     <li>
        Selenium
    </li>
    </li>
    <li>
        Beautiful Soup
    </li>
    <li>
       Microsoft Power BI 
    </li>
    <li>
        Microsoft Excel 
    </li>
    <li>
        Linux
    </li>
    <li>
        Bash/scripting
    </li>
    <li>
        Git/versionamento
    </li>
    <li>
        html5
    </li>
    <li>
        CSS
    </li>
</ul>
    </div>
    <div class="changing">
<p>
<strong>N&iacute;vel b&aacute;sico em:</strong>
</p>
<ul class="changing">
    <li>
        Numpy
    </li>
    <li>
        Matplotlib
    </li>
    <li>
        Seaborn
    </li>
    <li>
        Plotly
    </li>
    <li>
        Dash
    </li>
    <li>
        Scikit Learn
    </li>
    <li>
        Folium
    </li>
    <li>
        Pygame
    </li>
    <li>
        Docker
    </li>
    </div>
</div>
{% endblock %}
