{% extends 'base.html' %}

{% block title %}
Curr&iacute;culo
{% endblock %}

{% block body %}
<h1 class="title">Curr&iacute;culo</h1>
<br>
<h2>Forma&ccedil;&atilde;o</h2>
<p>
Ci&ecirc;ncia de Dados na Universidade Est&aacute;cio de S&aacute; (EAD - in&iacute;cio no segundo semestre de 2022)
</p>
<p>
Bacharelado em Direito pela Universidade de Brasília - UnB (in&iacute;cio em 2010 e conclus&atilde;o em  2016)
</p>
<br>
<h2>Certifica&ccedil;&atilde;o e Curso</h2>
<p>
IBM Data Science Professional Certificate
</p>
<br>
<h2>Experi&ecirc;ncia Profissional</h2>
<br>
<b>Advogado c&iacute;vel</b> (repara&ccedil;&atilde;o civil e Direito do Consumidor - desde 2017).
<br>
<br>
<b>Assessor de magistrado</b> de primeira inst&acirc;ncia da justi&ccedil;a comum brasileira no Tribunal de Justiça do Amazonas (2021).
<br>
<br>
<b>Freelancer</b> em web scrapping para coleta de dados judicial públicos e freelance em scripting (Bash e Python) para automatização de tarefas administrativas repetitivas (2023).
<br>
<br>
<h2>L&iacute;ngua</h2>
<p>
<b>Ingl&ecirc;s avan&ccedil;ado</b> (escrita e fala fluentes). Certificado: Oxford International Study Centre - English and Law Programme (2012).
</p>
<br>
<h2>Ferramentas de TI e Dados</h2>
<div class="flex-list">
    <div class="changing">
<p>
<strong>N&iacute;vel intermedi&aacute;rio:</strong>
</p>
<ul>
    <li>
        Microsoft Excel 
    </li>
    <li>
        Pandas
    </li>
    <li>
        Numpy
    </li>
    <li>
        Matplotlib
    </li>
    <li>
        Seaborn
    </li>
    <li>
        Plotly Dash
    </li>
    <li>
        Flask
    </li>
    <li>
        Tkinter
    </li>
    <li>
        Requests
     <li>
        Selenium
    </li>
    </li>
    <li>
        Beautiful Soup
    </li>
    <li>
        Linux
    </li>
    <li>
        Bash
    </li>
    <li>
        Git
    </li>
    <li>
        html5
    </li>
    <li>
        CSS
    </li>
</ul>
    </div>
    <div class="changing">
<p>
<strong>N&iacute;vel b&aacute;sico:</strong>
</p>
<ul class="changing">
    <li>
       Microsoft Power BI 
    </li>
    <li>
        Scikit Learn
    </li>
    <li>
        Folium
    </li>
    <li>
        Pygame
    </li>
    <li>
        Docker
    </li>
    </div>
</div>
{% endblock %}
